Source: libm2k
Section: libs
Priority: optional
Maintainer: Engineerzone <https://ez.analog.com/sw-interface-tools>
Build-Depends: debhelper-compat (= 13),
               cmake,
               libiio-dev,
               libgoogle-glog-dev,
               libserialport-dev,
               swig,
               python3-dev,
               dh-python,
               mono-mcs,
               cli-common-dev
Standards-Version: 4.6.0
Homepage: https://github.com/analogdevicesinc/libm2k
Vcs-Git: https://github.com/analogdevicesinc/libm2k.git
Vcs-Browser: https://github.com/analogdevicesinc/libm2k
Rules-Requires-Root: no

Package: libm2k
Architecture: @ARCHITECTURE@
Multi-Arch: same
Depends: libiio (>= 0.24), ${shlibs:Depends}, ${misc:Depends}
Description: Library for interfacing with ADALM2000
 libm2k is a C++ library for interfacing with the ADALM2000, a
 portable lab for electronics learning and development.
 .
 This package contains the shared library.

Package: libm2k-dev
Section: libdevel
Architecture: @ARCHITECTURE@
Multi-Arch: same
Depends: libm2k (= ${binary:Version}), ${misc:Depends}
Description: Library for interfacing with ADALM2000 - development files
 libm2k is a C++ library for interfacing with the ADALM2000, a
 portable lab for electronics learning and development.
 .
 This package contains the development files.

Package: libm2k-tools
Section: utils
Architecture: @ARCHITECTURE@
Depends: libm2k (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Command-line tools for ADALM2000
 libm2k is a C++ library for interfacing with the ADALM2000, a
 portable lab for electronics learning and development.
 .
 This package contains the m2kcli command-line tool.

Package: python3-libm2k
Section: python
Architecture: @ARCHITECTURE@
Depends: libm2k (= ${binary:Version}), ${python3:Depends}, ${shlibs:Depends}, ${misc:Depends}
Description: Python 3 bindings for libm2k
 libm2k is a C++ library for interfacing with the ADALM2000, a
 portable lab for electronics learning and development.
 .
 This package contains the Python 3 bindings.

Package: libm2k-csharp
Section: cli-mono
Architecture: @ARCHITECTURE@
Depends: libm2k (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, ${cli:Depends}
Description: C# bindings for libm2k
 libm2k is a C++ library for interfacing with the ADALM2000, a
 portable lab for electronics learning and development.
 .
 This package contains the C# bindings.
